@media only screen and (min_device_width : 1201px)
{
   .software
   {
      display: block;
      width: 128px;
      height: 240px;
      background-image:url(software.png) 0px 0px;
      background-repeat: no-repeat;
   }
}

@media only screen and (min_device_width : 1101px)
and (max-device-width : 1200px)
{
   .software
   {
      display: block;
      width: 128px;
      height: 240px;
      background-image:url(software.png) -128px 0px;
      background-repeat: no-repeat;
   }

}
@media only screen and (min_device_width : 1001px)
and (max-device-width : 1100px)
{
   .software
   {
      display: block;
      width: 128px;
      height: 240px;
      background-image:url(software.png) -256px 0px;
      background-repeat: no-repeat;
   }

}
@media only screen and (min_device_width : 901px)
and (max-device-width : 1000px)
{
   .software
   {
      display: block;
      width: 128px;
      height: 240px;
      background-image:url(software.png) -384px 0px;
      background-repeat: no-repeat;
   }

}
@media only screen and (min_device_width : 801px)
and (max-device-width : 900px)
{
   .software
   {
      display: block;
      width: 128px;
      height: 240px;
      background-image:url(software.png) -512px 0px;
      background-repeat: no-repeat;
   }

}
@media only screen and (min_device_width : 701px)
and (max-device-width : 800px)
{
   .software
   {
      display: block;
      width: 128px;
      height: 240px;
      background-image:url(software.png) 0px -240px;
      background-repeat: no-repeat;
   }

}
@media only screen and (min_device_width : 601px)
and (max-device-width : 700px)
{
   .software
   {
      display: block;
      width: 128px;
      height: 240px;
      background-image:url(software.png) -128px -240px;
      background-repeat: no-repeat;
   }

}
@media only screen and (min_device_width : 501px)
and (max-device-width : 600px)
{
   .software
   {
      display: block;
      width: 128px;
      height: 240px;
      background-image:url(software.png) -256px -240px;
      background-repeat: no-repeat;
   }

}
@media only screen and (min_device_width : 401px)
and (max-device-width : 500px)
{
   .software
   {
      display: block;
      width: 128px;
      height: 240px;
      background-image:url(software.png) -384px -240px;
      background-repeat: no-repeat;
   }

}
@media only screen and (max-device-width : 400px)
{
   .software
   {
      display: block;
      width: 128px;
      height: 240px;
      background-image:url(software.png) -512px -240px;
      background-repeat: no-repeat;
   }

}
